# Binarios y temporales
*.tmp
*.exe
*.zip
*.log
*~
entradas_crud
main

# Variables de entorno
*.env
!*template*.env

# IDEs y otros
.vscode
.scannerwork/

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
